h4 {
  color: blue;
}
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.layout {
  padding-right: 8px;
  padding-left: 8px;
}
.game-button {
  justify-content: center;
}
.stats-list {
  padding-left: 3px;
  height: 800px;
}
.game-stats {
  text-align: left;
  padding: 3px;
}

.typing-text-container {
  padding: 3px;
}
#keyboard-input {
  width: 100%;
  height: 200px;
  padding: 5px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 600px;
}

.has-background-success {
  background-color: rgb(176, 238, 176);
}

.has-background-wrong {
  background-color: rgb(249, 182, 156);
}

.background-color {
  background-color: rgb(251, 251, 174);
}

.game-status {
  font-size: large;
  color: blue;
}

.typing-area {
  width: 600px;
  height: 600px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.text-to-type {
  border: 2 px solid;
  border-radius: 12 px;
  border-color: rgb(29, 221, 54);
}
.form-container {
  align-self: center;
  max-width: 400px;
  max-height: 400px;
}
.sign-up-container {
  position: relative;
}

.TextShow2 {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
}

.text-button {
  padding: 10px;
}

.input {
  min-width: 200px;
}

.typing-text-container {
  max-width: 600px;
}
.chatroom-container {
  width: 100%;
  padding: 5px;
}
.chat-texts {
  min-height: 80px;
}
.chat-input-text {
  width: 95%;
}

.component-border {
  border-width: 2 px;
  border-style: solid;
  border-radius: 12px;
  border-color: #0d6efd;
  perspective: 1px;
}
.inner-component-border {
  padding: 3px;
  margin-bottom: 3px;
  border-width: 2 px;
  border-style: solid;
  border-radius: 12px;
  border-color: lightblue;
  perspective: 1px;
}
