.form-container {
  align-self: center;
  max-width: 400px;
  max-height: 400px;
}
.sign-up-container {
  position: relative;
}

.TextShow {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
}

.stats-button {
  align-self: center;
  width: 10%;
  height: 50%;
  padding: 10px;
}

.stats-list {
  align-self: center;
}

.text-button {
  padding: 10px;
}

.input {
  min-width: 200px;
}

.test {
  max-width: 100px;
}
