#keyboard-input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 850px;
}

.has-background-success {
  background-color: rgb(35, 233, 35);
}

.has-background-wrong {
  background-color: yellow;
}
